# Mengukur Jarak Disimilarity (Tugas 1)

**DATA MINING**

**# Pengertian Data mining**

Data mining yaitu suatu alat dan aplikasi menggunakan analisis statistik pada data dengan jumlah yang besar dan cepat dimana Data minig ini melakukan suatu proses ekstraksi atau penggalian data dan informasi yang besar dan belum diketahui sebelumnya

Data mining menggambarkan sebuah pengumpulan teknik-teknik dengan tujuan untuk menemukan pola-pola yang tidak diketahui pada data yang telah dikumpulkan dimana data mining ini melakukan sebuah proses percarian secara otomatis informasi yang berguna dalam tempat penyimpanan data berukuran besar dan teknik dalam data mining digunakan untuk memeriksa basis data berukuran besar sebagai cara untuk menemukan pola yang baru dan berguna.

**# Fungsi Data Mining**


1.   Descriptive\
Fungsi deskripsi dalam data mining adalah sebuah fungsi untuk memahami lebih jauh tentang data yang diamati. Dengan menggunakan Fungsi descriptive Data mining, Maka nantinya bisa menemukan pola tertentu yang tersembunyi dalam sebuah data. Dengan kata lain jika pola yang berulang dan bernilai itulah karakteristik sebuah data bisa diketahui.
2.   Predictive\
Fungsi prediksi merupakan sebuah fungsi bagaimana sebuah proses nantinya akan menemukan pola tertentu dari suatu data. Pola-pola tersebut dapat diketahui dari berbagai variabel-variabel yang ada pada data. Ketika sudah menemukan pola, Maka pola yang didapat tersebut bisa digunakan untuk memprediksi variabel lain yang belum diketahui nilai ataupun jenisnya. Karena itulah fungsi satu ini dikatakan sebagai fungsi prediksi sama halnya dengan melakukan predictive analisis. Fungsi ini juga bisa digunakan untuk memprediksi sebuah variabel tertentu yang tidak ada dalam suatu data.\
Sehingga fungsi ini memudahkan dan menguntungkan bagi siapapun yang memerlukan prediksi yang akurat untuk membuat hal penting tersebut menjadi lebih baik.


**# Macam-Macam Data**



*   **Data Terstruktur**\
yaitu data yang bergantung pada model data dan yang dinyatakan dalam bentuk tabel dengan atribut} (kolom) dan baris. Data terstruktur mudah disimpan dalam database dalam bentuk tabel atau file excel (Ms Office), SQl (structure Query Language)sehingga mudah dilakukan query terhadap data tersebut. Tetapi realitanya banyak data yang ada dalam dalam bentuk data tidak terstruktur karena data dihasilkan oleh manusia dan mesin
*   **Data Tidak Terstruktur**\
yaitu data yang tidak mudah dimasukkan ke dalam model data karena isi/kontennya spesifik atau bervariasi. Salah satu contoh data tidak terstruktur adalah data email. Meskipun email berisi elemen terstruktur seperti pengirim, judul, dan isi teks, terlalu banyak variasi dari isi yang terkandung dalamnya diantaranya dialek bahasa yang dipakai dan sebagainya.



**# Macam-Macam Attribute Data**\
Attribut yaitu data yang mewakili karakteristik atau fitur dari objek data. Atribut bisa disebut juga dengan dimensi, fitur, dan variabel yang istilah itu sering digunakan literatur. Dalam literatur pembelajaran mesin cenderung menggunakan istilah fitur, sementara dalam bidang statistik lebih memilih menggunakan istilah variabel. Sekumpulan atribut yang digunakan untuk menggambarkan objek disebut disebut dengan vektor atribut atau vektor fitur, jenis atribut ditentukan oleh nilai-nilai pada atribut tersebut yang mungkin nominal, biner,atau ordinal, atau numerik.

**Tipe Data Attribute**

*   **Nominal**\
Yaitu data yang menyatakan kategori, keadaan atau nama suatu hal.\
Contoh : nama, alamat, warna rambut, status, kodepos, nrp, dll.\
Rumus Perhitungan :\
$$ d(i,j)=\frac{p - m}p $$\
p = total label/ class nominal\
m = banyaknya data
*   **Binary**\
Yaitu attribute nominal yang hanya memiliki 2 keadaan yaitu 0 dan 1.\
data binary di bagi menjadi 2 yaitu :
  - Symetric Binary (data yang keduanya sama penting)\
  Contoh : jenis kelamin
  - Asymetric Binary (data yang keduanya tidak sama penting)\
  Contoh : medical test (positive atau negative) dimana dinyatakan dengan 1 untuk menyatakan hal yang lebih penting ( positif HIV)
  
  Rumus Perhitungan :\
  $$d(i,j)=\frac{r + s}{q+r+s+t} $$
*   **Ordinal**\
Yaitu data yang memiliki arti secara berurutan, (ranking) tetapi tidak
dinyatakan dengan besaran angka atau nilai.\
Contoh : Size = {small, medium, large}, kelas, pangkat

  Rumus Perhitungan :\
  $$Z_{if}=\frac{r_{if}-1}{M_f-1}$$
*   **Numerik**\
Yaitu data memiliki kuantitas (integer atau nilai real), data tersebut terdiri dari 2 bentuk yaitu :
  >  - Interval-Scaled
  >> - Diukur pada skala dengan unit satuan yang sama
  >> - Nilai memiliki urutan\
  Contoh : tanggal kalender
  >> - No true zero-point
  >  - Ratio-Scaled
  >> - Inherent zero-point\
  Contoh : Panjang, berat badan, dll
  >> - Bisa mengatakan perkalian dari nilai objek data yang lain\
  Misal : panjang jalan A adalah 2 kali dari panjang jalan B

  Rumus Perhitungan :\
  $$ d(i,j) = \sqrt(|{x_{i1} - x_{j1}}|^2 + |{x_{i2} - x_{j2}}|^2 ) $$

**# Dissimilarity**\
Dissimilarity adalah pengukuran numerik untuk menunjukkan seberapa berbeda dua obyek data.\
Metode yang digunakan untuk menghitung dissimilarity umumnya ada 2, yaitu Euclidean Distance (Jarak Euclidean) dan Minkowski Distance (Jarak Minkowski).
  1. **Minkowski Distance**\
  Kelompk Minkowski diantaranya adalah Euclidean distance dan Manhattan distance, yang menjadi kasus khusus dari Minkowski distance.\
  Rumus :\
  $$d_{min}=(sum_{i=1}^{n}|x_i-y_i|^{m})^{1/m},m\geq 1$$\
  m = bilangan riel positif\
  x_i dan y_i = dua vektor dalam runang dimensi\
  n = Implementasi ukuran jarak Minkowski pada model clustering data atribut dilakukan normalisasi untuk menghindari dominasi dari atribut yang memiliki skala data besar
  2. **Euclidean distance**\
  Euclidean distance digunkan untuk kasus khusus dari jarak Minkowski ketika m = 2, dan jarak ini adalah jarak yang paling terkenal yang digunakan untuk data numerik.\
  Rumus :\
  $$ dist=\sqrt{\sum_{k=1}^n (p_k - q_k)} $$

**TUGAS**

Carilah data bisa ambil data dari kaggle atau github\
kemudian hitung jarak disimilarity
1. Ukur jarak d(1,2), d(1,3), d(1,4) dari data tersebut

IMPORT LIBRARY PYTHON YANG DI BUTUHKAN
- Pandas\
yaitu sebuah library yang digunakan untuk menganalisis data dimana lebih tepatnya digunakan untuk mengatur tata letak data sehingga mudah dicari secara intuitif
- numpy\
yaitu library yang digunakan untuk membuat objek kelas array tunggal dan multidimensi sehingga fungsi ini menudahkan kita dalam menangani data yang terdiri dari array.
- math\
yaitu untuk melakukan perhitungan secara matematika dan mendefinisikan fungsi matematika secara umum.

In [ ]:
# import library
import numpy as np
import pandas as pd
import math

In [ ]:
#menampilkan data
dt = pd.read_csv("https://raw.githubusercontent.com/AliGhufron-28/datamaining/main/HousingPrices-Amsterdam-August-2021.csv")
dt

,Unnamed: 0,Address,Zip,Price,Area,Room,Lon,Lat
0,1,"Blasiusstraat 8 2, Amsterdam",1091 CR,685000.0,64,3,4.907736,52.356157
1,2,"Kromme Leimuidenstraat 13 H, Amsterdam",1059 EL,475000.0,60,3,4.850476,52.348586
2,3,"Zaaiersweg 11 A, Amsterdam",1097 SM,850000.0,109,4,4.944774,52.343782
3,4,"Tenerifestraat 40, Amsterdam",1060 TH,580000.0,128,6,4.789928,52.343712
4,5,"Winterjanpad 21, Amsterdam",1036 KN,720000.0,138,5,4.902503,52.410538
...,...,...,...,...,...,...,...,...
919,920,"Ringdijk, Amsterdam",1097 AE,750000.0,117,1,4.927757,52.354173
920,921,"Kleine Beerstraat 31, Amsterdam",1033 CP,350000.0,72,3,4.890612,52.414587
921,922,"Stuyvesantstraat 33 II, Amsterdam",1058 AK,350000.0,51,3,4.856935,52.363256
922,923,"John Blankensteinstraat 51, Amsterdam",1095 MB,599000.0,113,4,4.965731,52.375268
923,924,"S. F. van Ossstraat 334, Amsterdam",1068 JS,300000.0,79,4,4.810678,52.355493

**Menghitung Data Nominal**

1. Mencari data dari label atau class yang bertipe data nominal yaitu :\
Address dan Zip

2. Melakukan perhitungan \
Rumus perhitungan nominal : \
$$ d(i,j)=\frac{p - m}p $$\
p = total label/ class nominal\
m = banyaknya data

In [ ]:
# Proximity Measure for Nominal Attributes
def d1(i,j):
    P = 2
    M = 0
    for col in ["Address","Zip"]:
        if dt[col][i] == dt[col][j]:
            M += 1
    return (P-M)/P

In [ ]:
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

1.0
1.0
1.0

**Menghitung Data Numerik**\

1. Mencari data dengan label atau class yang bertipe numerik yaitu : \
Price, Area, Room, Lon, dan Lat\
2. Setelah itu melakukan perhitungan\
Rumus perhitungan numerik :\
$$ d(i,j) = \sqrt(|{x_{i1} - x_{j1}}|^2 + |{x_{i2} - x_{j2}}|^2 ) $$

Rumus Minkowski Distance:\
  $$d_{min}=(sum_{i=1}^{n}|x_i-y_i|^{m})^{1/m},m\geq 1$$\
  m = bilangan riel positif\
  x_i dan y_i = dua vektor dalam runang dimensi\
  n = Implementasi ukuran jarak Minkowski pada model clustering data atribut dilakukan normalisasi untuk menghindari dominasi dari atribut yang memiliki skala data besar

In [ ]:
# Distance on Numeric Data: Minkowski Distance
def d2(i,j, h):
    result = 0
    for col in ["Price","Area","Room","Lon","Lat"]:
        result = math.pow(abs(dt[col][i] - dt[col][j]), h)
    return result**(1/h)

In [ ]:
# Manhattan distance
print(d2(1,2,1))
print(d2(1,3,1))
print(d2(1,4,1))

0.0048040000000000305
0.004874000000000933
0.061952000000005114

Rumus Euclidean distance :\
  $$ dist=\sqrt{\sum_{k=1}^n (p_k - q_k)} $$

In [ ]:
# Euclidean distance
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

0.0048040000000000305
0.004874000000000933
0.061952000000005114

**Disimilarity**

Menghitung jarak disimilarity dari dataset dengan menghitung data dari nominal kemudian di jumlah dengan data numerik dengan memasukan data yang sudah di tentukan di soal

In [ ]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,1))

1.004804

In [ ]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,1))

1.004874000000001

In [ ]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,1))

1.0619520000000051